version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: teste_dev_api 
    ports:
      - "5000:8080"
    depends_on:
      - postgres
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=teste_dev;Username=postgres;Password=postgres

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: teste_dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
